<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcelo.pokedex2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_pokedex"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone_pokedex"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.marcelo.pokedex2.presentation.details.view.PokemonDetailsActivity"></activity>
        <activity android:name="com.marcelo.pokedex2.presentation.onboarding.OnboardingActitivy" />
        <activity
            android:name="com.marcelo.pokedex2.presentation.splash.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.marcelo.pokedex2.presentation.view.MainActivity" />
    </application>

</manifest>